// out: ../css/styles.css, sourcemap: true, compress: true

body{
  padding: 0;
  margin: 0;
}

.form-wrap{
  margin: 30px auto;
  max-width: 600px;
  border: 1px solid #e4e2e2;
  padding: 30px;
  border-radius: 10px;
  .current-step{
    font-size: 20px;
    margin-bottom: 20px;
    .step-id{
      font-weight: 700;
    }
  }
  .progress-wrap{
    position: relative;
    margin: 5px 0 10px;
    .progress-bar{
      transition: all .5s;
    }
  }
  .form{
    display: none;
    &.show{
      display: block;
    }
  }

  label{
    &.error{
      display: block;
      margin: 10px 0;
      padding: 1px 10px;
      font-size: 13px;
      border-radius: 4px;
      background: #ff7c7c;
      color: #fff;
    }
  }

  .report{
    margin-top: 10px;
    .item{
      border-bottom: 1px solid #0275d8;
      font-size: 12px;
      .item-title{
        font-weight: 700;
        background: #0275d8;
        color: #fff;
        padding: 10px;
        display: inline-block;
      }
      .item-value{
        padding: 10px;
        display: inline-block;
      }
    }
  }

}
